<!-- Header -->
<header id="header">
  <a class="logo" [routerLink]="['/']">{{ title }}</a>
</header>

<!-- Nav -->
<nav id="menu">
  <ul class="links">
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/vote']">Vote</a></li>
    <li><a [routerLink]="['/map']">Map</a></li>
  </ul>
</nav>

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>{{ title }}</h1>
    <p>Venez découvrir notre show exceptionnel de Slamball, entre amis ou en famille venez découvrir ce sport et pourquoi y participez ?</p>
  </div>
  <video autoplay loop muted playsinline src="../assets/banner.mp4"></video>
</section>

<!-- Highlights -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Un show d'exception !</h2>
      <p>Retrouvez Tony Parker, Nicolas BATUM et des professionels du Slamball pour un show unique en son genre !</p>
    </header>
    <div id="map">
      <iframe width="80%" height="400" src="https://www.youtube.com/embed/2ouXw328WYI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper">
  <div class="inner">
    <h2>Nos partenaires</h2>
    <div class="row sponsors">
      <div class="col-md-2">
        <img src="https://www.francecars.fr/images/francecars.fr/logo.png" alt="">
      </div>
      <div class="col-md-2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Decathlon_Logo.png" alt="">
      </div>
      <div class="col-md-2">
        <img src="https://cdn.worldvectorlogo.com/logos/gopro-hero.svg" alt="">
      </div>
      <div class="col-md-2">
        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/4/4f/Logo_L%27%C3%89quipe_21.svg/800px-Logo_L%27%C3%89quipe_21.svg.png" alt="">
      </div>
      <div class="col-md-2">
        <img src="https://cdn.worldvectorlogo.com/logos/bnp-paribas-1.svg" alt="">
      </div>
      <div class="col-md-2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/1200px-Logo_NIKE.svg.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="inner">
    <div class="come_soon">
      <h2>Nous arrivons à Bordeaux</h2>
      <span>{{ count }}</span>
      <p>Quel sera la prochaine ville ?</p>
    </div>
  </div>
</section>

<section>
  <div class="inner">
    <app-map></app-map>
  </div>
</section>

<!-- Testimonials -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Quel sera la prochaine ville ?</h2>
      <p>Nous parcourons toute la France, pour promovoir ce sport, <a [routerLink]="['/vote']">décidez de la prochaine ville!</a></p>
      <form class="text-center">
        <input type="text" placeholder="Enter your email" class="col-6">
        <button class="col-2">Submit</button>
      </form>
    </header>
    <div class="testimonials">
      <section>
        <div class="content">
          <blockquote>
            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
          </blockquote>
          <div class="author">
            <div class="image">
              <img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/1015.png&w=350&h=254" alt="" />
            </div>
            <p class="credit">- <strong>Tony PARKER</strong> <span>Basketteur</span></p>
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <blockquote>
            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
          </blockquote>
          <div class="author">
            <div class="image">
              <img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3416.png&w=350&h=254" alt="" />
            </div>
            <p class="credit">- <strong>Nicolas BATUM</strong> <span>CEO - ABC Inc.</span></p>
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <blockquote>
            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
          </blockquote>
          <div class="author">
            <div class="image">
              <img src="images/pic02.jpg" alt="" />
            </div>
            <p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="content">
      <section>
        <h3>Accumsan montes viverra</h3>
        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
      </section>
      <section>
        <h4>Sem turpis amet semper</h4>
        <ul class="alt">
          <li><a href="#">Dolor pulvinar sed etiam.</a></li>
          <li><a href="#">Etiam vel lorem sed amet.</a></li>
          <li><a href="#">Felis enim feugiat viverra.</a></li>
          <li><a href="#">Dolor pulvinar magna etiam.</a></li>
        </ul>
      </section>
      <section>
        <h4>Magna sed ipsum</h4>
        <ul class="plain">
          <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
          <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
          <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
          <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
        </ul>
      </section>
    </div>
    <div class="copyright">
      &copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
    </div>
  </div>
</footer>
