<div class="container p-0">
      <div class="d-flex flex-wrap w-100">
        <ng-container *ngFor="let ville of nosVilles | orderByName:'name'">
          <button (click)="addVote(ville.name)"
                  type="submit"
                  [class]="ville.isWanted
                    ? 'itemVille p-2 border border-success border-sizing rounded text-center m-1 w-24'
                    : 'itemVille p-2 border border-dark border-sizing rounded text-center m-1 w-24'"
                  [disabled] = hVoted>
            <span>{{ ville.name }}</span>
            <span class="text-success">{{ ville.nbVote }}</span>
          </button>
        </ng-container>
      </div>
  <div>
    <form (submit)="addVille(name.value)">
      <input type="text" #name>
      <input type="submit" [disabled] = hVoted>
    </form>
  </div>
</div>
