<div class="container">
  <div class="d-flex border-primary">
      <ng-container *ngFor="let ville of nosVilles | orderByName:'name'">
          <button (click)="addVote(ville.nbVote)"
                  type="submit"
                  class="p-2 border border-dark rounded w-50 m-1 text-center d-flex justify-content-between">
            <span>{{ ville.name }}</span>
            <span class="text-success">{{ ville.nbVote }}</span>
          </button>
      </ng-container>
  </div>
  <div>
    <form (submit)="addVille(name.value)">
      <input type="text" #name>
      <input type="submit">
    </form>
  </div>
</div>
